<!doctype html>
<html lang='en'>

<head>
    <title>FlashWord</title>
    <meta charset='utf-8'>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src='app.js' defer></script>

    <style>
        label {
            display: block;
        }

        input,
        button {
            display: block;
            margin: 10px 0px;
        }

        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }

        [v-cloak] {
            display: none;
        }

        .error {
            background-color: lightpink;
        }

    </style>
</head>

<body>
    <h1>FlashWord</h1>

    <div id='app' v-cloak>
        What is the English translation of the word <strong>{{ wordA }}</strong>?

        <input type="text" v-model="answer" v-on:keyup.enter='checkAnswer()' v-bind:class='{ error : hasError}'>

        <p v-if='hasErrror'>You must enter a answer</p>

        <p v-if="answer != ''">You answered: {{ answer }}</p>

        <!-- <button v-on:click="correct = wordB == answer; showFeedback = true">Check answer</button> -->
         <button v-on:click="checkAnswer()">Check answer</button>


       <template v-if="showFeedback">
            <img v-bind:alt='imageAlt' v-bind:src= '"https://s3.amazonaws.com/codewithsusan/circle-" + image + "@2x.png"' >
            <p v-if="correct" class="correct">You got it!</p>
            <p v-else class="incorrect">Sorry, please try again</p>
            <button v-on:click="resetAnswer()">Reset</button>
       </template>

       <h2>Array example</h2>
       <ul>
            <li v-for="spanishWord, index in spanishWords"> {{ index }} {{ spanishWord }}</li>
       </ul>

       
       <h2>Object example</h2>
       <ul>
             <li v-for="thisWord, key, index in word">{{index}} {{ key }} : {{ thisWord }}</li>
       </ul>

       <h2>Array of object example</h2>
       <ul>
        <li v-for="wordObject, index in words"> The english translation of {{wordObject.wordA}} is {{wordObject.wordB}} </li>
       </ul>



       <h2>Number example</h2>
       <ul> 
        <li v-for="number in 10">{{number}}</li>
       </ul>

       <h2>Strirng example</h2>
       <ul> 
        <li v-for="character in 'Hello World'">{{character}}</li>
       </ul>


       <h2>Combining v-for and v-if</h2>
        <p v-for="spanishWord, index in spanishWords">
            <template v-if="spanishWord.length > 3">
                {{ index }} {{ spanishWord }}
            </template>
        </p>

    </div>
</body>

</html>