<!doctype html>
<html lang='en'>

<head>
    <title>FlashWord</title>
    <meta charset='utf-8'>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src='app.js' defer></script>

    <style>
        label {
            display: block;
        }

        input,
        button {
            display: block;
            margin: 10px 0px;
        }

        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <h1>FlashWord</h1>

    <div id='app' v-cloak>
        What is the English translation of the word <strong>{{ wordA }}</strong>?

        <input type="text" v-model="answer">

        <p v-if="answer != ''">You answered: {{ answer }}</p>

        <!-- <button v-on:click="correct = wordB == answer; showFeedback = true">Check answer</button> -->
         <button v-on:click="checkAnswer()">Check answer</button>


       <div v-if="showFeedback">
            <p v-if="correct" class="correct">You got it!</p>
            <p v-else class="incorrect">Sorry, please try again</p>
       </div>

       <button v-if="showReset" v-on:click="resetAnswer()">Reset</button>

    </div>
</body>

</html>